<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout_content">
            <h2 class="callout__heading">Ready to Get Started?</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus nesciunt, iure iste provident ex modi quo, aut enim fugiat, laboriosam alias nulla sint libero obcaecati cupiditate laudantium quos molestias neque.
            </p>
        </div>
        <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
</div>