<div class="media">
    <div class="media__image">
            <svg class="icon">
                <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt sint nulla explicabo totam distinctio voluptatem animi quaerat harum eligendi, atque sunt, veniam officiis corporis, itaque debitis id. Animi, cum consequuntur.
        </p>
    </div>
</div>